@model Meyawo.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Hakkımda Düzenle</h2>

<form method="post">

    <label>Hakkımda ID</label>
    <input type="text" name="AboutID" class="form-control border" value="@Model.AboutID" disabled />
    <input type="hidden" name="AboutID" value="@Model.AboutID" />
    <br />
    <label>Hakkımda Adı</label>
    <input type="text" name="Title" class="form-control border" value="@Model.Title" />
    <br />
    <label>Hakkımda Başlık</label>
    <input type="text" name="Header" class="form-control border" value="@Model.Header" />
    <br />
    <label>Hakkımda ImageUrl</label>
    <input type="text" name="ImageUrl" class="form-control border" value="@Model.ImageUrl" />
    <br />
    <label>Hakkımda Açıklama</label>
    <textarea rows="4" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-info">Hakkımda Güncelle</button>
    <a href="/About/Index" class="btn btn-outline-dark">Geri</a>

</form>